Binaries
DerivedDataCache
Intermediate
Saved
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Config/DefaultEngine.ini
Content/maps/NewMap.umap
*.umap
*.umap
*.umap
*.uasset
